.css-1jb3vzl {
    text-align: center !important;
}

.css-722v25 {
    font-size: 27px;
}

.css-betff9 {
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74)) !important;
    color: rgb(237, 243, 182) !important;
    box-shadow: 0px 4px 6px rgb(4, 231, 15) !important;
    font-weight: bold !important;
    border-radius: 8px;
}

.css-betff9:hover {
    background-color: #b0b0b0 !important;
    transform: scale(1.05);
}