.ranking-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 20px;
  background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%);
  border-radius: 10px;
  box-shadow: 0px 5px 40px rgb(0, 0, 0);
}

.main-content {
  background: url('..//../images/header.jpg') no-repeat center center fixed, linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%);
  background-size: cover;
  background-blend-mode: overlay;
  margin-top: 10px;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking-title {
  margin-bottom: 20px;
  color: #f7f7f7;
}

.ranking-box {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f7fafc;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 100%;
}

.ranking-box:hover {
  background-color: #b1b2b3;
}

.top-three {
  border-color: purple;
}

.first-place {
  background-color: #fefcbf;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.ranking-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.ranking-index {
  font-size: 24px;
  font-weight: bold;
  color: rgb(8, 1, 8);
}

.ranking-avatar {
  width: 50px;
  height: 50px;
}

.ranking-name {
  font-size: 18px;
  color: #2d3748;
}

.ranking-points {
  font-size: 18px;
  color: #4a5568;
  margin-left: auto;
}
