.css-h94677 {
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 10px;
    box-shadow: 0px 5px 40px rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: #f2f2f2;
    margin-top: 30px;
}

.css-1058v6w {
    background: rgb(236, 19, 19);
    color: rgb(237, 243, 182);
}

.css-1058v6w:hover {
    background: rgb(102, 10, 10);
    color: rgb(237, 243, 182);
}

.css-18oqwto {
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74)) !important;
    color: rgb(237, 243, 182) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    font-weight: bold !important;
    border-radius: 8px;
}

.css-1v4gb9d:hover {
    background-color: rgb(243, 0, 0) !important;
    transition-duration: .2s;
}

.css-lj9scj:hover {
    background-color: rgb(73, 185, 39) !important;
    transition-duration: .2s;
}

.css-1xlie69:hover {
    background-color: rgb(41, 39, 185) !important;
    transition-duration: .2s;
}

.css-18oqwto:hover {
    background-color: rgb(41, 39, 185) !important;
    transition-duration: .2s;
}

.css-ez23ye:hover {
    background-color: rgb(41, 39, 185) !important;
    transition-duration: .2s;
}

.css-1xlie69 {
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74)) !important;
    color: rgb(237, 243, 182) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    font-weight: bold !important;
    border-radius: 8px;
}

.css-1v4gb9d{
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74)) !important;
    color: rgb(237, 243, 182) !important;
    box-shadow: 0px 4px 6px rgb(231, 4, 4);
    font-weight: bold !important;
    border-radius: 8px;
}

.css-lj9scj {
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74)) !important;
    color: rgb(237, 243, 182) !important;
    box-shadow: 0px 4px 6px rgb(4, 231, 15);
    font-weight: bold !important;
    border-radius: 8px;
}

.admin-panel-container {
    width: 1000px;
    min-height: 900px; 
    margin-top: 30px; 
    padding: 20px;
    background: linear-gradient(rgb(12, 8, 58), rgba(188, 16, 79, 0.74));
    border-radius: 10px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    margin-top: 30px;
    margin-bottom: 50px !important;
    position: relative;
    height: 100%;
}

.css-o51fhk {
    text-decoration: underline;
    padding-left: 50px;
    padding-right: 50px;
}