.profile-container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%);
    border-radius: 10px;
    box-shadow: 0px 5px 40px rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: rgb(237, 243, 182);
}

.profile-content {
    display: flex;
    justify-content: space-between;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%);
    border-radius: 10px;
    margin-right: 20px;
    width: 100%;
}

.right-section {
    flex: 2;
    padding: 20px;
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%);
    border-radius: 10px;
}

.right-section-label {
    font-weight: bold;
    color: #f2a900;
    width: 100px;
}

.right-section-data {
    color: rgb(237, 243, 182);
    margin-left: 10px;
    margin-bottom: 10px;
}

.right-section button + button {
    margin-left: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}

.password-change-container {
    margin-top: 20px;
    width: 100%;
}

.left-section .my-profile-avatar {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #f2a900;
}


.button {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 20px;
    background-color: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74));
    border-radius: 10px;
    color: rgb(237, 243, 182);
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 30px !important;
  }
  
  .bell {
    width: 18px;
  }
  
  .bell path {
    fill: yellow
  }

  
  .button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
  }
  
  .button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
  }
  
  .button.has-notifications {
    border: 2px solid red;
  }

.css-1scogwl {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
}

.css-1wtemij {
    background: #bb2701 !important;
    color: white !important;
}

.css-hipoo1 {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
}

.css-hipoo1:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-lgnrpw {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
    margin-bottom: 4px;
}

.css-lgnrpw:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-1ngb7fh {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
    margin-bottom: 4px;
}

.css-1ngb7fh:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-1lp2lqs {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
    margin-top: 50px !important;
}

.css-1lp2lqs:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-1y4cryk {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
}

.css-1y4cryk:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-c0q2pk {
    color: rgba(237, 243, 182, 0.89) !important;
}

.css-1zts0j {
    color: rgb(237, 243, 182) !important;
}

.css-h211ee {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
    color: rgb(237, 243, 182) !important;
    border-radius: 8px;
}

.css-h211ee:hover {
    background-color: rgb(237, 243, 182) !important;
    transition-duration: .2s;
}

.css-16ite8i {
    margin-top: 26px;
}

.css-tc9vh3 {
    margin-top: 50px ;
}