.css-xf5nmr {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.781) 130.5%) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 40px;
    color: rgb(237, 243, 182);
    box-shadow: rgb(188, 16, 79) !important;
}

.css-199iy26 {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 10px;
    box-shadow: 0px 5px 40px rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: rgb(237, 243, 182) !important;
    margin-bottom: 60px;
}

.css-1yq395a {
    color: rgb(237, 243, 182) !important;
}

.css-orp2h {
    color: rgba(237, 243, 182, 0.87) !important;
    margin-top: -10px;
}

.css-1u1kqmg {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 10px;
    box-shadow: rgb(188, 16, 79) !important;
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: rgb(237, 243, 182) !important;
}

.css-uysng0 {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 10px;
    box-shadow: rgb(188, 16, 79) !important;
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: rgb(237, 243, 182) !important;
}

.css-2rotfp {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 10px;
    box-shadow: rgb(188, 16, 79) !important;
    font-family: Arial, sans-serif;
    background: rgba(27, 14, 31, 0.9);
    color: rgb(237, 243, 182) !important;
}

.css-y5314g {
    font-size: 3rem !important;
    margin-top: 30px;
    text-decoration: underline;
    color: rgb(237, 243, 182) !important;
}

.css-1p3ist {
    color: rgb(237, 243, 182) !important;
}