
.registration-username {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.registration-email {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.registration-firstname {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.registration-lastname {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.registration-phone-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -7px;
}

.phone-left-addon {
    background-color: #f7f7f728 !important;
    border-color: rgb(165, 165, 236) !important;
    border-radius: 4px 0 0 4px !important;
    height: 42px !important;
    display: flex;
    align-items: center;
    padding: 8px !important;
    font-size: 1rem !important;
    margin-top: -7px;
}

.registration-phone {
    border-radius: 0 4px 4px 0 !important;
    height: 42px !important;
    padding: 8px !important;
    font-size: 1rem !important;
    background-color: #f7f7f7;
    border-color: rgb(165, 165, 236) !important;
    margin-top: -7px;
}

.phone-left-addon, .registration-phone {
    margin-bottom: 1px !important;
}

.registration-password {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: -7px;
}

.registration-confirm-password {
    border-color: rgb(165, 165, 236) !important;
    padding: 8px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-top: -7px;
}

.organizer-code {
    width: 120px !important;
    padding: 6px !important;
    background-color: #f7f7f7 !important;
    border-color: rgb(165, 165, 236) !important;
    border-radius: 4px;
    font-size: 1rem !important;
}

.registration-register-button {
    width: 80px;
    background-color: rgb(49, 49, 114) !important;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}

.registration-cancel-button {
    background-color: rgb(241, 72, 72) !important;
    color: white !important;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    margin-left: 12px;
}

.registration-cancel-button:hover {
    background-color: #e53e3e !important;
}

.registration-cancel-button:active {
    background-color: #c53030 !important;
}

.swal2-container {
    z-index: 2000 !important;
}