.quizzes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: url('..//../images/header.jpg') no-repeat center center fixed;
    background-color: #333;
    background-size: cover;
    color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.search-bar {
    margin-bottom: 20px;
}

.navigation-buttons {
    margin-bottom: 20px;
}

.hexagon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.hexagon-group {
    display: flex;
    justify-content: center;
}

.hexagon-group.easy {
    margin-left: 0;
}

.hexagon-group.medium {
    margin-left: 30px;
}

.hexagon-group.hard {
    margin-left: 60px;
}

.hexagon {
    position: relative;
    width: 120px;
    height: 138px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(145deg, #dcdcdc, #b8b8b8);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6),
                inset 0 6px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    margin: 15px;
    gap: 16px;
}

.hexagon:hover {
    transform:  rotate(93deg) scale(1.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7),
                inset 0 8px 16px rgba(0, 0, 0, 0.5);
}

.hexagon.clicked {
    background: linear-gradient(145deg, #333333, #555555);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8),
                inset 0 8px 16px rgba(0, 0, 0, 0.7);
}

.hexagon.easy {
    background: linear-gradient(145deg, #30b960, #19861c);
}

.hexagon.medium {
    background: linear-gradient(145deg, #9e9eeb, #6a1b9a);
}

.hexagon.hard {
    background: linear-gradient(145deg, #e64343, #da2727);
}

.hexagon.done {
    background: linear-gradient(145deg, #f5d4d4, #9f8b8b);
}

.hexagon-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexagon-content {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.navigation-buttons button {
    background-color: #4c2757;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigation-buttons button:hover {
    background-color: #357abd;
    transform: scale(1.05);
}

.navigation-buttons button:active {
    background-color: #2c6aa0;
}

/* Search */
.search-bar {
    margin: 20px auto;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.search-bar input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: rgb(201, 200, 200);
}

.search-bar input:focus {
    border-color: #4a90e2;
    box-shadow: 0 2px 8px rgba(74, 144, 226, 0.2);
}

.css-nijo3s {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--chakra-space-6);
}

.hexagon.done {
    background: linear-gradient(145deg, #b0b0b0, #707070) !important;
    color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8), inset 0 8px 16px rgba(0, 0, 0, 0.822);
    transition: transform 0.3s ease, background 0.3s ease;
}