.hexagon {
    position: relative;
    width: 120px;
    height: 138px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(145deg, #dcdcdc, #b8b8b8);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8),
                inset 0 6px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: rotate(90deg);
}

.hexagon.clicked {
    background: linear-gradient(60deg, #333333, #555555);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8),
                inset 0 8px 16px rgba(0, 0, 0, 0.6);
}

.hexagon.easy {
    background: linear-gradient(145deg, #58f058, #388e3c);
}

.hexagon.medium {
    background: linear-gradient(145deg, #8181e4, #5c2a8d);
}

.hexagon.hard {
    background: linear-gradient(145deg, #aa1111dc, #c2185b);
}

.hexagon-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexagon-content {
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transform: rotate(-90deg);
}
