.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/images/header.jpg');
    background-color: #000000d5;
    background-size: cover;
    position: relative;
    color: rgb(237, 243, 182);
    background-repeat: no-repeat;
    height: 100px;
    padding: 20px;
}

.site-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.site-header h1, .site-header span {
    position: relative;
    z-index: 2;
}

.site-header span {
    font-size: 1.5rem;
    text-align: left !important;
}

.site-header .nav-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.site-header .auth-buttons {
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.chakra-menu__menu-button {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: white !important;
    border: none !important;
    font-size: 1.4rem;
    font-weight: bold;
    white-space: nowrap;
}

.chakra-menu__menu-button:hover {
    background-color: #000000 !important;
    color: #868383 !important;
    transform: scale(1.01) !important;
}

.chakra-menu__menu-list {
    top: 100%;
    left: 0;
    background-color: rgba(76, 39, 87, 0.8);
    color: rgb(119, 119, 119);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    display: block;
}

.chakra-menu__menu-list.chakra-menu__menu-list--open {
    opacity: 1;
    transform: translateY(0);
    display: flex;
}

.chakra-menu__menu-item {
    font-size: 1.2rem;
    padding: 8px 12px;
}

.chakra-menu__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.home-button-home-page {
    background: transparent;
    border: none;
    color: rgb(237, 243, 182);
    font-size: 4.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.home-button-home-page:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.css-18esm8n {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: start;
    flex: 0 0 auto;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: var(--chakra-space-1-5) var(--chakra-space-3);
    transition-property: var(--chakra-transition-property-background);
    transition-duration: var(--chakra-transition-duration-ultra-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-in);
    background: rgba(76, 39, 87, 0.9);
    font-weight: bold;
}

.css-18esm8n:hover {
    background: rgba(76, 39, 87, 0.8);
    color: #ffffff;
}

.css-18esm8n:focus {
    outline: 2px solid var(--chakra-focus-ring-color);
    outline-offset: 2px;
}

.css-1kfu8nn {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: rgba(137, 43, 226, 0.753);
    --menu-shadow: var(--chakra-shadows-sm);
    min-width: var(--chakra-sizes-3xs);
    padding: var(--chakra-space-2);
    z-index: 1;
    border-radius: var(--chakra-radii-md);
    border-width: 1px;
    background: rgba(76, 39, 87, 0.7);
    box-shadow: var(--menu-shadow);
    transition: background 0.3s ease;
}

.css-1kfu8nn:hover {
    background: rgba(76, 39, 87, 0.9);
}

.welcome-text {
    color: rgb(237, 243, 182);
    font-size: 24px;
    padding-left: 30px;
}

.css-1ut02yo {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: rgb(237, 243, 182) !important;
}

.css-1ut02yo:hover {
    background: linear-gradient(rgb(26, 17, 128) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: rgb(237, 243, 182) !important;
}

.css-dsexd7:hover {
    background: linear-gradient(rgb(26, 17, 128) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: rgb(237, 243, 182) !important;
}

.css-6ey7w3 {
    margin-top: 10px !important;
}

.css-pv22qu {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.897) 130.5%) !important;
    box-shadow: rgb(188, 16, 79) !important;
}

.css-ljjl4g {
    height: 40px !important;
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: rgb(237, 243, 182) !important;
}

/* .site-header .auth-buttons {
    margin-left: 830px !important;
}

.css-ljjl4g {
    margin-left: 400px !important;
} */