/* src/pages/Header.css */
.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/images/header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    width: 100vw;
    height: 300px;
    overflow: hidden;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(76, 39, 87, 0.4);
    z-index: 1;
}

.site-header h1, .site-header span {
    position: relative;
    z-index: 2;
}

.site-header h1 {
    margin: 0;
    font-size: 5rem;
    margin-bottom: 20px;
    margin-top: 60px;
    font-family: cursive;
}

.site-header span {
    font-size: 1.5rem;
    margin-top: 10px;
}

.site-header nav {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.site-header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    position: relative;
    z-index: 2;
}

.site-header nav a:hover {
    background-color: #4c2757;
    color: #ffffff;
    transform: scale(1.05);
}

.site-header nav a.active {
    background-color: #2a5c9f;
    color: #ffffff;
    border-bottom: 2px solid #4c2757b7;
}

.site-header nav button {
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px 25px;
    background-color: transparent;
    border: none;
    color: white;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.site-header nav button:hover {
    background-color: #4c2757;
    color: #ffffff;
    transform: scale(1.05);
}