.create-quiz-container {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 40px;
    color: rgb(237, 243, 182);
    box-shadow: 0 0 15px rgb(188, 16, 79) !important;
}

.create-quiz-container .chakra-modal__header {
    color: rgb(237, 243, 182);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.create-quiz-container .chakra-form-control {
    margin-bottom: 20px;
}

.create-quiz-container .chakra-form-label {
    color: rgb(237, 243, 182);
    font-size: 1.2rem;
}

.create-quiz-container .chakra-input,
.create-quiz-container .chakra-textarea,
.create-quiz-container .chakra-select {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(237, 243, 182);
    border: 1px solid rgb(237, 243, 182);
    border-radius: 8px;
}

.create-quiz-container .chakra-input:focus,
.create-quiz-container .chakra-textarea:focus,
.create-quiz-container .chakra-select:focus {
    border-color: rgba(237, 243, 182, 0.6);
}

.create-quiz-container .chakra-button {
    background: linear-gradient(135deg, rgba(12, 8, 58, 0.9), rgba(188, 16, 79, 0.74));
    color: rgb(237, 243, 182);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.create-quiz-container .chakra-button:hover {
    background-color: #4c2757;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.create-quiz-container .chakra-checkbox {
    color: rgb(237, 243, 182);
}

.css-woqubx tr:nth-of-type(odd) td {
    background: none;
}

table {
    background-color: transparent;
}

tr {
    background-color: transparent;
}

td {
    background-color: transparent;
}

.css-12y4u6o {
    background-color: transparent !important;
}

.css-0 {
    background-color: transparent !important;
}

.chakra-link {
    background-color: transparent;
}

.custom-select {
    background-color: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-radius: 5px;
    padding: 0.5em;
}
.custom-select:focus {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    border-color: rgba(188, 16, 79, 0.9) !important;
    box-shadow: 0 0 0 1px rgba(188, 16, 79, 0.9) !important;
}

.css-6c5kl1 {
    margin: -25px;
    padding: 10px 10px 10px 10px;
}


/* .chakra-select {
    background: linear-gradient(rgb(12, 8, 58) 1.1%, rgba(188, 16, 79, 0.74) 130.5%) !important;
    color: #c42323;
    border-radius: 4px;
    font-size: 1rem;
    appearance: none;
} */


.chakra-select option {
    background: rgba(49, 5, 59)!important;
    color: rgb(237, 243, 182);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}